nav {
    display: flex;
    color: #ffffff;
    background-color: #373636;
    justify-content: space-around;
    padding: 1em;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

nav a {
    color:#ececec;
    text-decoration: none;
    ;
}

nav a:hover {
    color: #ffffff;
    padding: .1em;
    background-color: #939090;
    border-radius: .2em;
}

header {
    font-size: .8em;
    background-color: #38537e;
    height: 150px;
    position: relative;
    width: 100%;
}

header h1 {
    color: #d9d6d6;
    display: block;
    font-size: 1.5em;
    align-self: start;
    padding: 1em;
}

body {
    display: grid;
    color: #302f2f;
    background-color: #cecaca;
}

.card {
    display: grid;
    padding: 1em;
    justify-content: center;
    text-align: center;
}

footer h4 {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-column: 1 / -1;
}

footer {
    color: #d6d3d3;
    background-color: #38537e;
    width: 100%;
    padding: 1em;
    display: grid;
    height: 250px;
}

.center {
    display: grid;
    grid-template-columns: 4fr 2fr;
    font-size: .8em;
    height: 200px;
    gap: 1em;
    padding: 1em;
}

main {
    display: grid;
    background-color: #939090;
}

main h2 {
    display: grid;
    align-self: start;
    padding: .8em;
}

aside {
    display: grid;
    background-color: #ececec;
}

aside h3 {
    display: grid;
    align-self: start;
    padding: .8em;
}