header {
    display: flex;
    justify-content: space-around;
    background-color: #20ca8c;
    width: 100%;
    padding: 1em 0;
}

nav {
    display: none;
    flex-direction: column;
}

nav.open {
    display: flex;
}

nav a {
    display: flex;
    padding: .8em;
    color: #020705;
    text-decoration: none;
    justify-self: right;
    font-size: 1.6em;
}

nav a:hover {
    color: #e02a85;
}

.menu-button {
    font-size: 2em;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    transition: opacity 1.3s ease;
}

.menu-button.hidden {
    opacity: 0.5;
}

main {
    display: grid;
    max-width: 800px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
    background-color: #7dd9d9;
    justify-content: space-between;
    padding: .2em;
}

main h2 {
    display: grid;
    grid-column: 1 / -1;
}

img {
    border-radius: .4em;
    width: 200px;
    height: auto;
}

footer {
    background-color: #20ca8c;
    align-content: center;
    width: 100%;
}

footer p {
    justify-self: center;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column; 
    }

    nav.open {
        display: flex;
    }

    main {
        grid-template-columns: 1fr;
    }

    img {
        width: 100%;
        height: auto; 
    }
}