nav a {
    display: flex;
    padding: .8em;
    color: #020705;
    text-decoration: none;
    justify-self: right;
    font-size: 1.6em;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a:hover {
    color: #e02a85;
}

@media (max-width: 768px) {
    
    
    .menu-button {
        display: block;
    }

    nav {
        display: none;
    }

    nav.open {
        display: flex;
    }
    .menu-button {
        display: block;
    }

    img {
        width: 100%;
        height: auto;
    }

}

@media (min-width: 769px) {
    .menu-button {
        display: none;
    }

    nav {
        display: flex; 
    }
}
