@media (max-width: 768px) {
    
    
    .menu-button {
        display: none;
    }

    nav {
        display: flex;
    }

    nav.open {
        display: flex;
    }
    .menu-button {
        display: block;
    }

    img {
        width: 100%;
        height: auto;
    }

}